*~
/Lisp.dll
/Lisp.dll.mdb
/Lisp.dll.xml
/LispReader.dll
/LispReader.dll.mdb
/LispReader.dll.xml
/Resources.dll
/Resources.dll.mdb
/Resources.dll.xml
/glade-sharp-2.0.pkg.dummy
/gtk-sharp-2.0.pkg.dummy
/gtkgl-sharp.dll
/gtkgl-sharp.dll.mdb
/gtkgl-sharp.dll.xml
/libeditor.dll
/libeditor.dll.mdb
/libeditor.dll.xml
/supertux-editor.exe
/supertux-editor.exe.mdb
