<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<dllmap dll="opengl32.dll">
		<dllentry os="!osx,windows" dll="libGL.so.1"/>
		<dllentry os="osx"          dll="/usr/X11/lib/libGL.dylib" />
	</dllmap>
	<dllmap dll="gdk-x11-2.0">
		<dllentry os="!osx,windows" dll="libgdk-x11-2.0.so.0"/>
		<dllentry os="osx"          dll="libgdk-x11-2.0.dylib"/>
	</dllmap>
	<dllmap dll="X11">
		<dllentry os="!osx,windows" dll="libX11.so.6"/>
		<dllentry os="osx"          dll="/usr/X11/lib/libX11.dylib"/>
	</dllmap>
</configuration>
