<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<dllmap dll="opengl32.dll">
		<dllentry os="!osx,windows" dll="libGL.so.1"/>
		<dllentry os="osx"          dll="/usr/X11/lib/libGL.dylib" />
	</dllmap>
	<dllmap dll="sdl.dll">
		<dllentry os="!osx,windows" dll="libSDL-1.2.so.0" />
		<dllentry os="osx"          dll="libSDL.dylib" />
	</dllmap>
	<dllmap dll="sdl_image.dll" target="libSDL_image-1.2.so.0"/>
</configuration>
